.menu 
    .menu-navigations
        button.menu__button
            span.menu__mark
        a.menu__logo(href="/")
            img(src="@img/image/logo.svg", alt="GPS")
        .menu__line
    .menu-socials
        .menu-links
            a.menu__link.menu__link--phone.icon--phone(href="/")
            a.menu__link.menu__link--chat.icon--chat(href="/")
            a.menu__link.menu__link--contact.icon--person(href="/")
        .menu__line.menu__line--mobile--none
        .menu-links
            a.menu__link.menu__link__support.icon--keys(href="/")
            a.menu__link.menu__link__search.icon--search(href="/")