// colors
$radical-red: #FF3E79;
$black-and-blue: #1B1C21;
$smoky-white: #F8F8F8;
$pale-blue: #7E7E82;
$light-turquoise: #41F6D7;
$pang: #B8FFEC;
$smoky-white-dark: #EAEAEA;
$light-cyanide: #D9FFF5;

// screen width 
$small: 576px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;

